.main-boy{
    width: 100vw;
    height: 100vh;
    background-image: url("../../image/login-bg.jpg");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.164);
    /* background-size: cover; */
    position: relative;
}   

.auth-section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
/* from css */
p{
    margin: 0;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: darkcyan;
}